name: deploy

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to Dokku
        uses: dokku/github-action@master
        with:
          git_remote_url: ssh://dokku@${{ secrets.DOKKU_HOST }}:22/${{ secrets.DOKKU_APP }}
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          branch: master
          git_push_flags: --force

      - name: Restart app after deploy
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.DOKKU_HOST }}
          username: dokku
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            dokku ps:restart ${{ secrets.DOKKU_APP }}
            dokku ps:report  ${{ secrets.DOKKU_APP }}
